/*=====================================configuração root=====================================*/
:root {
    /* paleta de cores */
    --primary-color: #fafafb;
    --secondary-color: #92a0a6;
    --logo-color: #65b5d8;
    --container-color: #151526;
    --background-color: #09091b;
    /* tipografia */
    --title-font: Pixelify Sans;
    --text-font: roboto;
     font-size: 16px;
}
/*=====================================estilização barra de scroll=====================================*/
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 5px;
  }
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/*=====================================estilização body=====================================*/
body {
    min-height: 100vh;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
}
/*=====================================estilização tipografia inicial=====================================*/
h1, h3, h4, h5, h6, summary {
    font-family: var(--title-font);
    letter-spacing: 0.1rem;
}
h2, h3, h4 {
    color: var(--secondary-color);
}
p, h2, h4 {
    font-family: var(--text-font);
}
/*=====================================estilização header principal=====================================*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;

    text-transform: uppercase;
    font-size: 3rem; /* 1rem = 16px */
    font-weight: bold;
    color: var(--logo-color);
}
.header h2 {
    color: white;
}
.logo {
    color: blue;
}
/*=====================================estilização container principal=====================================*/
.container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;    
    margin: 0 1.2rem;
    padding: 1rem 1.1rem;
    background-color: var(--container-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/*=====================================estilização details=====================================*/
summary {
    color: var(--primary-color);
    margin-bottom: 1rem;
    font-size: 2rem;
}
details section:nth-child(even) {
    background-color: var(--background-color);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
/*=====================================estilização textos de códigos=====================================*/
code {
    display: flex;
    flex-direction: column;

    padding: 1rem 1.25rem;
    row-gap: 0.625rem;

    border-radius: 10px;
    font-family: monospace;
    font-size: 1.4rem;
    background-color: #20273c;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 2px 2px 5px rgba(48, 55, 140, 0.5)  ;
}
pre {
    font-family: monospace;
}
.class-name {
    color: #bae0a3;
}
.class-property {
    color: #5395fd;
}
.property-value {
    color: #d97171;
}
.ponctuation {
    color: white;
}
/*=====================================estilização opções=====================================*/
.options {
    display: flex;
    column-gap: 10px;
    align-items: center;
}
.options h4 {
    white-space: nowrap;
}
.options ul {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}
.options li:hover {
      color: white;
      cursor: pointer;
}
.active {
      padding: 2px 4px;
      color: var(--container-color);
      background-color: var(--logo-color);
      border-radius: 5px;
}
/*=====================================estilização seções=====================================*/
.card {
    display: flex;
    flex-direction: column;
    gap: 1rem 0;
    padding: 1.5rem 2rem;
    /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); */
}
.card h2 {
    font-size: 2rem;
}
.card p {
    padding: 0 1rem;
    color: var(--primary-color);
    font-size: 1.5rem;
    line-height: 1.8rem;
    text-align: justify;
    text-indent: 1.5rem;
}
.examples { 
    display: flex;
    flex-direction: column;
}
/*=====================================estilização elemento pai=====================================*/
.flex {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    width: 30rem;
    border: 2px solid var(--primary-color);
}
.center {
    align-self: center;
}
  /*=====================================estilização elemento filho=====================================*/
.item {
    height: 50px;
    width: 50px;
    background-color: var(--logo-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*=====================================flex-flow=====================================*/
.flex-flow {
    flex-direction: row;
    overflow: scroll;
    overflow-y: hidden;
    padding-bottom: 20px;
}
.flex-flow ul {
    flex-wrap: nowrap;
    white-space: nowrap;
}
/*=====================================align-items=====================================*/
.align-items { column-gap: 1rem;}
.item-align {
    background-color: var(--logo-color);
    color: var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    flex-wrap: wrap;
}
/*=====================================align-content=====================================*/
.align-content {
    flex-wrap: wrap;
    height: 20rem;
}
/*=====================================gap=====================================*/
.row-gap {
    flex-direction: column;
    flex-wrap: wrap;
    /* row-gap: 10px; */
}
.column-gap {
    flex-wrap: wrap;
}
/*=====================================estilização footer=====================================*/
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;

    padding: 20px 30px;
    /* background-color: #A7D129; */
    color: var(--primary-color);
}

footer a {
    color: var(--logo-color);
    text-decoration: none;
}
/*=====================================Responsividade=====================================*/
@media screen and (max-width: 800px) {
    code {
        font-size: 1rem;
    }
    .header {
        flex-wrap: wrap;
    }
    .card {
        padding: 1rem 1rem;
    }
    .card p {
        text-indent: 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        border: 2px solid black;
    }
    .flex {
        width: 20rem;
    }
    .options {
        flex-direction: row;
        overflow: scroll;
        overflow-y: hidden;
        padding-bottom: 20px;
    }
    .options ul {
        flex-wrap: nowrap;
        white-space: nowrap;
    }
}
@media screen and (max-width: 650px) {
    .header {
        justify-content: center;
    }
    .flex {
        width: 15rem;
    }
}
/*
color: #09091b; body 
color: #0b0a10; header
color: #151526; container principal
color: #20273c; cor code 
color: #5395fd; cor propriedade css
color: #65b5d8; cor logo 
color: #92a0a6; cor subtitulos 
color: #bae0a3; cor elemento css 
color: #d97171; cor valor css
color: #fafafb; cor texto e titulo 
color: #ff911f; cor numero css 
*/