:root {
    /* color palette */
    --primary-color: #A7D129;
    --secondary-color: #616F39;
    --third-color: #3E432E;
    --fourth-color: #262b23;
    justify-content:
    /* typography */
    --
}